body {
  margin: 0;
    background-image: linear-gradient(
      to right,
      #4ca874,
      #eaeaea
    );
  color: #747474;
  font-family: monospace;
  font-size: 16px;
}

container {
  display: flex;
  justify-content: center; 
}

h1 {
  margin-top: 0;
  padding: 0 7% 0 0;
  text-align: right;
  border-bottom: dashed #747474 2px;
  font-variant: all-petite-caps;
  font-size: 24px;
}

.container {
  text-align: center;
}

.inputs, .buttons {
  margin: 6px 0 12px;
  text-align: center;
}


input[type=text] {
  margin: auto 3px;
  padding: 4px;
  border: 1px solid #88abff;
  border-radius: 2px;
  font-family: monospace;
  letter-spacing: 0.02rem;
  outline-color: blue;
}

button {
  padding: 4px;
  border: 1px solid #5bb375;
  border-radius: 2px;
  font-family: monospace;
  letter-spacing: 0.02rem;
  outline-color: green;
  padding-left: 7px;
  padding-right: 7px;
  border-color: white;
  background: #5bb375;
  color: white;
  cursor: pointer;
}

button:hover {
  border-color: #3ec667;
}

button:active {
  color: black;
  background: #7ca187;
  border: black;
}

canvas {
  width: inherit;
  max-width: inherit;
}

@media (min-width: 620px) {
  canvas {
    width: 42%;
}
  
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

}
